html,
body,
.mui-content {
  background: #EDF1F4; }

.bg-write {
  background: #FFFFFF; }

.lf-header {
  box-shadow: none;
  background: #FF410F; }
  .lf-header .mui-icon:active {
    opacity: 1; }
  .lf-header a {
    color: #FFFFFF;
    font-size: 16px !important;
    padding-top: 16px !important; }
  .lf-header .mui-title {
    font-size: 18px;
    color: #FFFFFF; }

.lf-bar {
  background: #F9F9F9;
  box-shadow: none; }
  .lf-bar .icon {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 8px;
    margin-bottom: 5px;
    width: 18px;
    height: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .lf-bar .icon.hb {
      background-image: url(../images/hb-icon.png); }
      .lf-bar .icon.hb.active {
        background-image: url(../images/hb-active-icon.png); }
    .lf-bar .icon.kf {
      background-image: url(../images/kj-icon.png); }
      .lf-bar .icon.kf.active {
        background-image: url(../images/kj-active-icon.png); }
    .lf-bar .icon.persion {
      background-image: url(../images/person-icon.png); }
      .lf-bar .icon.persion.active {
        background-image: url(../images/persion-active-icon.png); }
  .lf-bar .mui-tab-label {
    font-size: 10px !important;
    color: #656565;
    line-height: 10px !important; }
  .lf-bar .mui-tab-item.mui-active {
    color: #FF410F !important; }
  .lf-bar .mui-tab-item.mui-active .mui-tab-label {
    color: #FF410F !important; }

.lf-toast-container {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  border-radius: 6px; }
  .lf-toast-container .info {
    font-size: 0.36rem;
    padding: 0.22rem 0.2rem;
    text-align: center;
    color: #fff;
    border-radius: 0.12rem;
    background-color: rgba(0, 0, 0, 0.5); }
  .lf-toast-container .success {
    text-align: center;
    font-size: 0.28rem;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    padding: 1.2rem 0.32rem 0.32rem 0.32rem; }
    .lf-toast-container .success .mui-icon {
      position: absolute;
      font-size: 1.36rem;
      top: 0rem;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
  .lf-toast-container .fail {
    text-align: center;
    font-size: 0.28rem;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    padding: 0.32rem; }
    .lf-toast-container .fail .mui-icon {
      font-size: 0.68rem;
      margin-bottom: 0.2rem; }

.lf-mask {
  position: fixed;
  z-index: 9998;
  opacity: 0.5;
  background: #000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.lf-tk-container {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1; }
  .lf-tk-container .content {
    border-radius: 4px;
    background: #FFFFFF;
    padding: 0.4rem 0.3rem 0.2rem 0.3rem; }
    .lf-tk-container .content.wt .title {
      width: 5.82rem; }
    .lf-tk-container .content .title {
      text-align: center;
      font-size: 0.36rem;
      line-height: 0.5rem;
      color: #333333;
      letter-spacing: 0;
      margin-bottom: 0.2rem; }
    .lf-tk-container .content .img {
      width: 5.82rem;
      height: 2rem;
      opacity: 0.54;
      background: #EEE6E4;
      margin-bottom: 0.1rem; }
      .lf-tk-container .content .img img {
        display: block;
        width: 3.94rem;
        height: 100%;
        margin: 0 auto; }
    .lf-tk-container .content .tm {
      font-size: 0.3rem;
      color: #666666;
      letter-spacing: 0;
      line-height: 0.44rem; }
      .lf-tk-container .content .tm.bot {
        margin-bottom: 0.6rem;
        text-align: center; }
    .lf-tk-container .content .xzda .mui-radio input[type=radio] {
      width: 0.4rem;
      height: 0.4rem; }
    .lf-tk-container .content .xzda .mui-checkbox.mui-left label,
    .lf-tk-container .content .xzda .mui-radio.mui-left label {
      padding: 8px 0;
      padding-left: 32px;
      font-size: 0.3rem; }
    .lf-tk-container .content .xzda .mui-radio.mui-left input[type=radio] {
      left: 0; }
    .lf-tk-container .content .xzda .mui-radio input[type=radio]:before {
      font-size: 0.4rem; }
    .lf-tk-container .content .xzda .mui-radio input[type=radio]:checked:before {
      font-size: 0.4rem;
      color: #FF410F;
      content: '\e442'; }
    .lf-tk-container .content .yzm {
      margin-top: 0.3rem; }
      .lf-tk-container .content .yzm .title {
        text-align: left;
        font-size: 0.32rem;
        color: #666666;
        letter-spacing: 0;
        line-height: 0.3rem; }
      .lf-tk-container .content .yzm .input {
        position: relative; }
        .lf-tk-container .content .yzm .input .codeimg {
          position: absolute;
          left: 0;
          top: 0;
          width: 1.72rem;
          height: 0.64rem; }
          .lf-tk-container .content .yzm .input .codeimg img {
            width: 100%;
            height: 100%; }
        .lf-tk-container .content .yzm .input input {
          height: 0.64rem;
          padding-left: 2rem; }
    .lf-tk-container .content .btns {
      text-align: center; }
      .lf-tk-container .content .btns button {
        width: 2.8rem;
        height: 0.88rem;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
        border-radius: 2rem; }
        .lf-tk-container .content .btns button.zy {
          background: #FF410F;
          border: none;
          color: #FFFFFF; }

.index-content .mui-slider {
  height: 3.6rem; }
.index-content .lmtt {
  height: 0.88rem;
  background: #FFFFFF; }
  .index-content .lmtt .left {
    float: left;
    position: relative;
    top: 0.18rem;
    left: 0.18rem;
    width: 0.56rem;
    height: 0.56rem;
    background: url(../images/lmtt.png) no-repeat;
    background-size: 100% 100%;
    font-size: 0.28rem;
    color: #FF410F;
    line-height: 0.28rem; }
    .index-content .lmtt .left:after {
      position: absolute;
      right: -0.16rem;
      bottom: 0;
      top: 0;
      width: 1px;
      content: '';
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
      opacity: 0.34;
      background-color: #FF410F; }
  .index-content .lmtt .right {
    padding: 0.16rem;
    font-size: 0.24rem;
    color: #6F787D;
    line-height: 0.32rem;
    margin-left: 1.14rem; }
    .index-content .lmtt .right .sxgd {
      height: 0.64rem;
      overflow: hidden; }
      .index-content .lmtt .right .sxgd ul {
        margin: 0;
        padding: 0; }
        .index-content .lmtt .right .sxgd ul li {
          height: 0.64rem; }
.index-content .mid {
  background: #FFFFFF;
  height: 2.12rem;
  text-align: center;
  padding: 0.36rem 0; }
  .index-content .mid .circle {
    width: 0.88rem;
    height: 0.88rem;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 13px;
    color: #FFF1DE;
    letter-spacing: 0;
    line-height: 0.88rem; }
    .index-content .mid .circle.hs {
      background-image: url(../images/wf.png);
      background-repeat: no-repeat;
      background-size: 100% 100%; }
    .index-content .mid .circle.dh {
      background: #FF663E; }
    .index-content .mid .circle.h {
      background-image: url(../images/pm.png);
      background-repeat: no-repeat;
      background-size: 100% 100%; }
  .index-content .mid .name {
    margin-top: 0.2rem;
    font-size: 0.32rem;
    color: #333333;
    line-height: 0.32rem; }
.index-content .main .active-item {
  margin-top: 0.16rem;
  background: #FFFFFF; }
  .index-content .main .active-item .title {
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.4rem;
    font-size: 0.28rem;
    color: #333333; }
  .index-content .main .active-item .btns {
    position: relative;
    text-align: center;
    height: 0.96rem;
    line-height: 0.96rem;
    font-size: 0.32rem;
    color: #FF410F; }
    .index-content .main .active-item .btns:before {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      height: 1px;
      content: '';
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      background-color: #D8D8D8; }
    .index-content .main .active-item .btns > div:first-child:after {
      position: absolute;
      right: 0;
      bottom: 0.24rem;
      top: 0.24rem;
      width: 1px;
      content: '';
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
      background-color: #D8D8D8; }
  .index-content .main .active-item .qiu {
    height: 2.52rem;
    padding: 0.3rem 0.4rem; }
    .index-content .main .active-item .qiu .mui-table:first-child {
      margin-bottom: 0.32rem; }
    .index-content .main .active-item .qiu .circle {
      width: 0.8rem;
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
      margin: 0 auto;
      border-radius: 50%;
      background: #FF5D32;
      color: #FFFFFF; }
      .index-content .main .active-item .qiu .circle.active {
        background: #00A5FF; }

.hbgc-content {
  background: #FFFFFF; }
  .hbgc-content .tab {
    text-align: center; }
    .hbgc-content .tab span {
      font-size: 16px;
      color: #333333;
      line-height: 16px;
      display: inline-block;
      padding: 0.32rem 0;
      position: relative; }
      .hbgc-content .tab span.active {
        color: #FF410F; }
      .hbgc-content .tab span.active:after {
        position: absolute;
        right: 0;
        left: 0;
        bottom: -2px;
        height: 4px;
        content: '';
        background-color: #FF410F; }
  .hbgc-content .tab-content {
    padding: 0.2rem; }
    .hbgc-content .tab-content ul {
      padding: 0; }
    .hbgc-content .tab-content li {
      position: relative;
      list-style: none;
      margin-bottom: 0.2rem; }
      .hbgc-content .tab-content li img {
        width: 100%;
        height: 3.2rem;
        border-radius: 0.12rem; }
      .hbgc-content .tab-content li .bg {
        width: 100%;
        height: 3.2rem;
        background: #F0EDED; }
      .hbgc-content .tab-content li .nr {
        position: absolute;
        top: 0.8rem;
        left: 0;
        right: 0;
        text-align: center;
        color: #FFFFFF; }
        .hbgc-content .tab-content li .nr.center {
          top: 50%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }
        .hbgc-content .tab-content li .nr .tit {
          font-size: 0.32rem;
          color: #FFFFFF;
          line-height: 0.4rem;
          margin-bottom: 0.2rem; }
        .hbgc-content .tab-content li .nr .tit3 {
          font-size: 0.4rem;
          color: #FFFFFF;
          line-height: 0.4rem; }
        .hbgc-content .tab-content li .nr .tit2 {
          font-size: 0.24rem;
          color: #6F787D; }
        .hbgc-content .tab-content li .nr .je {
          font-size: 0.6rem;
          color: #FFFFFF;
          line-height: 0.48rem; }
      .hbgc-content .tab-content li .tip {
        font-size: 0.24rem;
        color: #6F787D;
        line-height: 0.24rem;
        margin: 0.1rem; }

.person-content .head {
  position: relative;
  height: 4rem;
  background-image: linear-gradient(-90deg, #FF3557 0%, #FF410F 100%); }
  .person-content .head .set {
    position: absolute;
    width: 1.28rem;
    height: 0.56rem;
    color: #FFFFFF;
    opacity: 0.59;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    right: 0.4rem;
    top: 0.32rem;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.56rem; }
    .person-content .head .set .mui-icon {
      font-size: 0.28rem; }
  .person-content .head .head-img {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 0.36rem;
    color: #FFFFFF;
    line-height: 0.4rem; }
    .person-content .head .head-img img {
      display: block;
      width: 1.12rem;
      height: 1.12rem;
      margin: 0 auto;
      margin-bottom: 0.1rem; }
  .person-content .head .info {
    text-align: center;
    margin-top: 0.5rem; }
    .person-content .head .info .t1 {
      opacity: 0.8;
      font-size: 0.24rem;
      color: #FFFFFF;
      line-height: 0.24rem;
      margin-bottom: 0.1rem; }
    .person-content .head .info .t2 {
      font-size: 0.48rem;
      color: #FFFFFF;
      line-height: 0.48rem; }
.person-content .yqm {
  padding: 0.34rem 0;
  text-align: center;
  font-size: 14px;
  color: #FF410F;
  line-height: 14px;
  background: #FFFFFF; }
.person-content .person-list {
  margin-top: 0.2rem; }
  .person-content .person-list .mui-navigate-right:after,
  .person-content .person-list .mui-push-left:after,
  .person-content .person-list .mui-push-right:after {
    color: #C7C7CC; }
  .person-content .person-list.mui-table-view:before {
    height: 0; }
  .person-content .person-list.mui-table-view:after {
    height: 0; }
  .person-content .person-list .mui-table-view-cell > a:not(.mui-btn) {
    padding: 0.34rem 0.32rem; }
  .person-content .person-list .mui-table-view-cell:after {
    left: 0.32rem; }
  .person-content .person-list .mui-navigate-right {
    font-size: 0.28rem;
    line-height: 0.28rem; }

.zshm-content {
  background: #FFFFFF; }
  .zshm-content .num {
    text-align: center;
    font-size: 0.32rem;
    color: #333333;
    line-height: 0.32rem;
    margin-bottom: 1.1rem; }
    .zshm-content .num .clr {
      width: 1.6rem;
      height: 1.6rem;
      color: #FFFFFF;
      line-height: 1.6rem;
      border-radius: 50%;
      font-size: 0.72rem;
      background: rgba(255, 102, 63, 0.3);
      margin: 0.4rem auto 0.2rem auto;
      padding: 6px; }
      .zshm-content .num .clr .clr2 {
        width: 1.36rem;
        height: 1.36rem;
        color: #FFFFFF;
        line-height: 1.36rem;
        border-radius: 50%;
        background: #ff663f; }
  .zshm-content .title {
    padding: 0 0.44rem;
    font-size: 0.36rem;
    color: #FF410F;
    line-height: 0.48rem;
    margin-bottom: 0.2rem; }
  .zshm-content .desc {
    padding: 0 0.44rem;
    font-size: 0.28rem;
    color: #666666;
    line-height: 0.4rem; }
  .zshm-content .wdyqm {
    text-align: center;
    font-size: 0.36rem;
    color: #FF410F;
    line-height: 0.48rem;
    margin: 0.7rem 0 0.4rem 0; }
  .zshm-content .buts {
    text-align: center; }
    .zshm-content .buts button {
      width: 2.8rem;
      height: 0.88rem;
      background: #FF410F;
      border-radius: 100px;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0;
      border: none; }

.jjph-content li {
  margin-bottom: 0 !important; }
  .jjph-content li .row {
    height: 1.4rem;
    vertical-align: top;
    font-size: 0; }
    .jjph-content li .row .item {
      position: relative;
      height: 1.4rem;
      vertical-align: middle;
      display: inline-block; }
      .jjph-content li .row .item.mc {
        width: 10%;
        text-align: center;
        line-height: 70px;
        font-size: 16px;
        color: #3D3B38; }
      .jjph-content li .row .item.mz {
        width: 70%;
        font-size: 16px;
        color: #3D3B38;
        padding-left: 50px;
        line-height: 70px; }
        .jjph-content li .row .item.mz img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          position: absolute;
          left: 0;
          top: 15px; }
      .jjph-content li .row .item.je {
        width: 20%;
        line-height: 70px;
        font-size: 28px;
        color: #FF410F; }

.login-content .close {
  text-align: right;
  margin-top: 0.82rem;
  padding-right: 0.42rem; }
  .login-content .close img {
    width: 0.28rem;
    height: 0.28rem; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc; }

.lf-form {
  padding: 0 0.56rem; }
  .lf-form .lf-form-group {
    position: relative;
    overflow: hidden;
    height: 0.96rem;
    line-height: 0.96rem; }
    .lf-form .lf-form-group .left-icon {
      float: left;
      position: relative;
      top: 0.28rem;
      left: 0.06rem;
      width: 0.28rem;
      height: 0.4rem; }
    .lf-form .lf-form-group .lf-input {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      margin-left: 0.14rem;
      padding-left: 0.14rem;
      padding-right: 1.1rem;
      font-size: 0.32rem;
      width: 4.22rem;
      height: 0.96rem;
      line-height: 1;
      border: none;
      color: #333333; }
    .lf-form .lf-form-group .closex {
      position: absolute;
      width: 0.32rem;
      height: 0.32rem;
      top: 0.32rem;
      left: 3.8rem;
      z-index: 100; }
    .lf-form .lf-form-group .right {
      float: right;
      text-align: center; }
      .lf-form .lf-form-group .right.getCode {
        width: 1.42rem;
        height: 100%;
        font-size: 0.28rem;
        color: #FF410F; }
      .lf-form .lf-form-group .right.showpwd {
        width: 1.42rem;
        height: 100%;
        font-size: 0.28rem;
        color: #737373; }
    .lf-form .lf-form-group.sg:before {
      position: absolute;
      left: 4.78rem;
      top: 0.22rem;
      bottom: 0.22rem;
      width: 1px;
      content: '';
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
      background-color: #CCCCCC; }
    .lf-form .lf-form-group:after {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 1px;
      content: '';
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      background-color: #FF410F; }
  .lf-form .xy > div {
    height: 0.8rem;
    line-height: 0.8rem; }
  .lf-form .xy .mui-checkbox.mui-left input[type=checkbox] {
    top: 50%;
    left: 0rem;
    width: 0.36rem;
    height: 0.36rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); }
  .lf-form .xy .mui-checkbox input[type=checkbox]:before {
    font-size: 0.36rem;
    position: relative; }
  .lf-form .xy .mui-checkbox.mui-left label {
    padding: 0;
    padding-left: 0.7rem;
    font-size: 0.26rem;
    color: #333333; }
    .lf-form .xy .mui-checkbox.mui-left label a {
      margin-left: 0.16rem;
      color: #FF410F; }
  .lf-form .xy .mui-checkbox input[type=checkbox]:checked:before {
    color: #FF410F; }
  .lf-form .btns button {
    display: block;
    width: 100%;
    width: 100%;
    height: 0.96rem;
    border-radius: 1.16rem;
    font-size: 0.32rem;
    margin: 0.2rem 0; }
    .lf-form .btns button.btn1 {
      background: #FF410F;
      border: none;
      color: #FFFFFF; }
    .lf-form .btns button.btn2 {
      background: #FFFFFF;
      border: 1px solid #FF410F;
      color: #FF410F; }

/*# sourceMappingURL=app.css.map */
img{
	border-radius: 50%;
}